<?php
// Zabbix GUI configuration file.
global $DB;

$DB['TYPE']     = '{%- if zabbix_server_database == 'mysql' -%} MYSQL {%-else-%} POSTGRESQL {%-endif%}';
$DB['SERVER']   = '{{ zabbix_server_db_host }}';
$DB['PORT']     = '{%- if zabbix_server_database == 'mysql' -%} 3306 {%-else-%} 5432 {%-endif%}';
$DB['DATABASE'] = '{{ zabbix_server_db_name | default('zabbix') }}';
$DB['USER']     = '{{ zabbix_server_db_user | default('zabbix') }}';
$DB['PASSWORD'] = '{{ zabbix_server_db_password | default('zabbix') }}';

// Schema name. Used for IBM DB2 and PostgreSQL.
$DB['SCHEMA'] = '';

$ZBX_SERVER      = '{{ ansible_default_ipv4.address }}';
$ZBX_SERVER_PORT = '10051';
$ZBX_SERVER_NAME = '{{ ansible_default_ipv4.address }}';

$IMAGE_FORMAT_DEFAULT = IMAGE_FORMAT_PNG;